<div class='footer'>
  <div class='footer-buttons'>
    <a target="_blank" class='btn host-btn' href='#' onclick="alert('Map still in development, soon available :) !');">
      Host an event
    </a>
    <a target="_blank" class='btn share-btn' :href="shareUrl"  onclick="alert('Map still in development, soon available :) !');">
      <span class='share-btn-content'>
        <span>Share the map</span>
        <img src='~images/fb-logo-white.png' />
      </span>
    </a>
  </div>
  <span class='privacy-policy'>
     <!--<a target="_blank" href='https://go.peoplepower.org/signup/privacy/'>Privacy Policy</a>-->
     Thanks ACLU for making this map opensource !
  </span>
</div>
